{
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "require": [
    "babel-register"
  ],
  "sourceMap": false,
  "instrument": false,
   "exclude": [
      "**/*.spec.js"
    ],
    "extension": [
      "js"
    ]
}

